<!DOCTYPE html>
<table>
  <tr>
    <td><b>Logos</b></td>
    <td><b>Name</b></td>
    <td><b>Site</b></td>
    <td><b>Workers</b></td>
    <td><b>Rate</b></td>
  </tr>
  <tr style="text-align: center;">
    <td>img</td>
    <td>Sounds</td>
    <td>site.us</td>
    <td>Dao</td>
    <td>999</td>
  </tr>
  <tr style="text-align: center;">
    <td>img</td>
    <td>test1</td>
    <td>site.org</td>
    <td>56</td>
    <td>100</td>
  </tr>
  <tr style="text-align: center;">
    <td>img</td>
    <td>test2</td>
    <td>site.io</td>
    <td>4</td>
    <td>10</td>

  </tr>
</table>
<style>
  table {
    display: block;
    text-align: center;
    margin-left: 10px;
  }

  table tr {
    display: flex;
    padding: 5px;
  }

  table td {
    width: 50px;
    display: flex;
    padding: 2px;
    margin: 20px;
  }
</style>
