<div class="personalRateMenu">
<h2>Concept Proofs</h2>
        <h3><button>X</button> Rate a Picture</h3>
        <h3><button>X</button> Rate Audio</h3>
        <h3><button>X</button> Rate Video</h3>
      </div>
 
      <style>
      .personalRateMenu{
        width: 100px;  
        display:block;
        }
        button{
            padding: 5px;
            color: yellow;
            background-color: blue;
          }
      </style>
