<!DOCTYPE html>
<div class="profileHelpMenu">
  <h2><b>Citizen</b></h2>
  <h3><button>X</button> Report Action</h3>
  <h3><button>X</button> Help Me</h3>
  <h3><button>X</button> Coins Manager</h3>
</div>


<style>
  button {
    padding: 5px;
    color: yellow;
    background-color: blue;
  }
</style>
