<DOCTYPE html>

      <div class="commercialRateMenu">
      <h2>Business</h2>
        <h3><button>X</button> Rate Employee</h3>
        <h3><button>X</button> Rate Services</h3>
        <h3><button>X</button> Rate Brand</h3>
      </div>

      <style>
        button{
            padding: 5px;
            color: yellow;
            background-color: blue;
          }
      </style>
