<div class="personalRateMenu">
          <h2><b>User Status</b></h2>
        <h3>Creativity <span style="margin-left: 20px;color:blue;">211</span></h3>
        <h3>Speed <span style="margin-left: 20px;color:blue;">311</span></h3>
        <h3>Patience <span style="margin-left: 20px;color:blue;">103</span></h3>
        <h3>Logic <span style="margin-left: 20px;color:blue;">50</span></h3>
      </div>
 
      <style>
      .personalRateMenu{
        width: 200px;  
        display:block;
        }
        button{
            padding: 5px;
            color: yellow;
            background-color: blue;
          }
      </style>
