<div class="personalRateMenu">
        <h2>Deeds</h2>
        <h3><button>X</button> Create Picture</h3>
        <h3><button>X</button> Create Audio</h3>
        <h3><button>X</button> Create Video</h3>
      </div>
 
      <style>
      .personalRateMenu{
        width: 200px;  
        display:block;
        }
        button{
            padding: 5px;
            color: yellow;
            background-color: blue;
          }
      </style>
