<!DOCTYPE html>
<html lang="pt es en">
<%- include('./partials/template/header.ejs')%>

  <body>
    <br>
    <%- include('./partials/template/footer.ejs')%><br>
      <%- include('./partials/template/nav.ejs')%>
        <br><br><br>
        <h1 style="text-align: center;">
          <%= pageTitle%>
            <a href="#">about</a>
        </h1>

  </body>

</html>
