<!DOCTYPE html>
<html>

<head>
  <title>Home Sweet Home</title>
</head>

<body>
  <h1> Home Sweet Home</h1>

  <form>
    <p> Tell us Your Email address </p>
    <input name="mail">
    <button type="submit">Submit</button>
  </form>
</body>

</html>
