<!DOCTYPE html>
<html lang="pt es en">
<%- include('./partials/template/header.ejs')%>

  <body>
    <br>
    <%- include('./partials/template/footer.ejs') %>
      <br>
      <%- include('./partials/template/nav.ejs')%>
        <br><br><br>
        <br><br><br>
        <h1 style="text-align: center;">
          <%= pageTitle%>
        </h1>
        <br><br><br>
        <form style="text-align: center;" action="login" method="post">
          <label for="userEmail">Email</label>
          <input type="email" name="email" id="email">
          <br>
          <label for="userPasswd">Password</label>
          <input type="password" name="passwd" id="passwd">
        </form>
  </body>

</html>
