<!DOCTYPE html>
<html lang="pt es en">
<%- include('./partials/header.ejs')%>

  <body>
    <%- include('./partials/nav.ejs')%>

      <h1 style="text-align: center;">
        <%= pageTitle%>
      </h1>
      <h3 style="text-align: center;"><b> X </b>Take a Picture</h3>
      <h3 style="text-align: center;"><b> X </b>Record Audio</h3>
      <h3 style="text-align: center;"><b> X </b>Record Video</h3>
      <h3 style="text-align: center;"><b> X </b>Rate a Picture</h3>
      <h3 style="text-align: center;"><b> X </b>Rate Audio</h3>
      <h3 style="text-align: center;"><b> X </b>Rate Video</h3>
      <h3 style="text-align: center;"><b> X </b>Rate Personal Characteristic</h3>
      <h3 style="text-align: center;"><b> X </b>Rate Commercial Characteristics</h3>
      <h3 style="text-align: center;"><b> X </b>Rate Student Characteristics</h3>
      <h3 style="text-align: center;"><b> X </b>Report to Police</h3>
      <h3 style="text-align: center;"><b> X </b>Ask Help (share Geo-localation to Gain Help)</h3>
      <h3 style="text-align: center;"><b> X </b>Personal Points / Coins Manager</h3>



      <%- include('./partials/footer.ejs') %>
  </body>

</html>
