<!DOCTYPE html>
<html>

<head>
  <title>World Cleaner | <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/help">Documentation</a></li>
      <li><a href="/register">Sign In</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="#">Logout</a></li><!-- Only show if user is registered-->
      <li><a href="/profile">Profile</a></li> <!-- Only show if user is registered-->
    </ul>
  </nav>

</body>

</html>
