<!DOCTYPE html>
<html lang="pt es en">
<%- include('./partials/header.ejs')%>

  <body>
    <%- include('./partials/nav.ejs')%>

      <br><br><br>
      <h1 style="text-align: center;">
        <%= pageTitle%>
      </h1>
      <br><br><br>

      <form style="text-align: center;" action="login" method="post">
        <label for="userEmail">Email</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="userPasswd">Password</label>
        <input type="password" name="passwd" id="passwd">
        <br>
        <label for="userPasswd2">Repeat Password</label>
        <input type="password2" name="passwd2" id="passwd2">
      </form>
      <br><br><br>


      <%- include('./partials/footer.ejs') %>
  </body>

</html>
