<!DOCTYPE html>

<html>

<head>
  <title>Result!</title>
</head>

<body>
  <h1>
    <%= data.toUpperCase() + "!!!" %>
      <script>
        console.log('hahahah')
      </script>
  </h1>
</body>

</html>
