  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/help">Help</a></li>
      <li><a href="/register">SignIn</a></li>
      <li><a href="/login">LogIn</a></li>
      <li><a href="#">LogOut</a></li><!-- Only show if user is registered-->
      <li><a href="/profile">Profile</a></li> <!-- Only show if user is registered-->
    </ul>
  </nav>

