<footer>
  
 <p> Wel&copy;ome to the World Wide <b> &copyompetition &copy;hallenge </b> for Image propose Only</p>
   
</footer>

<style>
  footer{
      text-align: center;
      font-size: 22px;
      background-color: blue;
      color: white;
      width: 98%;
  }
</style>
