<footer>
  
 <p> Wel&copy;ome to the World Wide <b> &copyompetition &copy;hallenge </b> for Image propose Only</p>
   
</footer>

<style>
  footer{
      float: left;
      text-align: center;
      margin-left: 40px;
      font-size: 22px;
      background-color: blue;
      color: white;
      width: 90%;
  }
</style>
